{% extends "base.html.twig" %}
{% block body %}
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-12">

            <h1 class="page-header">
                Contact<br />
                <small>{{ catchphrase.phrase }}</small>
            </h1>

            <!-- First Blog Post -->
            <h2>
                <a href="#"></a>
            </h2>

            <div class="well">
                <h4>Leave a Comment:</h4>
                <form role="form">
                    <div class="form-group">
                        <textarea class="form-control" rows="3"></textarea>
                        <input class="form-control" type="text" name="contact_mail" value="" placeholder="votre email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                        <input class="form-control" type="text" name="contact_object" value="" placeholder="l'objet de votre demande" required>
                        <input type="submit">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
            <hr>
        </div>
    </div>
    <!-- /.row -->
{% endblock body %}