{% extends "base.html.twig" %}
{% block body %}
TEST
    {{ dump(Projects) }}
    {% for Project in Projects %}

    <div class="col-md-4" style="background: red;">
        <img src="{{ asset(Project.imgMiniature) }}" style="background: black; display:block; margin:auto;" />
    </div>

    {% endfor %}

{% endblock %}