{% extends "base.html.twig" %}
{% block body %}


    <div class="col-md-12">

        <h1 class="page-header">
            Projets<br />
            <small>{{ catchphrase.phrase }}</small>
        </h1>
        <!-- First Blog Post -->
        <h2>
            <a href="#"></a>
        </h2>


        <div id="projects">
            {% for Project in Projects %}

            <div class="col-md-4" style="background: red;">
                <img src="{{ asset(Project.imgMiniature) }}" style="background: black; display:block; margin:auto;" />
            </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}