{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-8">
            {{ g_texts.getText("about_content")|raw }}
        </div>
        <div class="col-md-4">
            <div class="card">
                <span class="text-center" >
                    <img src="{{ asset('img/avatar/guigur_avatar_2018.png') }}" class="rounded-circle about_avatar">
                </span>
                <div class="card-body">
                    <h3 class="card-title text-center">{{ g_texts.getText("about_pseudo")|raw }}</h3>
                    <small>{{ g_texts.getText("about_description")|raw }}</small>

                    <ul class="about_ul">
                        <li class="about_li">
                            <a href="https://www.twitter.com/guigur" title="twitter c'est bien" target="_blank" class="icon_twitter">
                                <div class="fab fa-twitter"></div>
                            </a>
                        </li>
                        <li class="about_li">
                            <a href="https://github.com/guigur" title="github" target="_blank" class="icon_github">
                                <div class="fab fa-github"></div>
                            </a>
                        </li>
                        <li class="about_li">
                            <a href="https://steamcommunity.com/id/guigur" title="steam" target="_blank" class="icon_steam">
                                <div class="fab fa-steam"></div>
                            </a>
                        </li>
                        <li class="about_li">
                            <a href="https://www.youtube.com/user/MrGuigur" title="youtube" target="_blank" class="icon_youtube">
                                <div class="fab fa-youtube"></div>
                            </a>
                        </li>
                        <li class="about_li">
                            <a href="https://www.linkedin.com/in/guillaume-arthaud-837637137/" title="linkedin" target="_blank" class="icon_linkedin">
                                <div class="fab fa-linkedin"></div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}