{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-8">
        </div>

        <div class="col-md-4">
            <div class="well">
                <img src="{{ asset('img/avatar/guigur_avatar_2016.png') }}" class="img-responsive center-block">
                <h3 class="text-center">guigur</h3>

                <div class="row icons_center">
                    <a href="https://www.twitter.com/guigur" title="twitter c'est bien" target="_blank">
                        <div class="fi-social-twitter icon_about icon_twitter"></div>
                    </a>
                    <a href="https://github.com/guigur" title="github" target="_blank">
                        <div class="fi-social-github icon_about icon_github"></div>
                    </a>
                    <a href="https://steamcommunity.com/id/guigur" title="steam" target="_blank">
                        <div class="fi-social-steam icon_about icon_steam"></div>
                    </a>
                    <a href="https://www.youtube.com/user/MrGuigur" title="youtube" target="_blank">
                        <div class="fi-social-youtube icon_about icon_youtube"></div>
                    </a>
                    <a href="https://www.linkedin.com/in/guillaume-arthaud-837637137/" title="linkedin" target="_blank">
                        <div class="fi-social-linkedin icon_about icon_linkedin"></div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}