{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-8">
        </div>

        <div class="col-md-4">
            <div class="well">
                <img src="{{ asset('img/avatar/guigur_avatar_2016.png') }}" class="img-responsive center-block">
                <h3 class="text-center">guigur</h3>

                <div class="row icons_center">
                    <div class="fi-social-twitter icon_about"></div>
                    <div class="fi-social-github icon_about"></div>
                    <div class="fi-social-steam icon_about"></div>
                    <div class="fi-social-youtube icon_about"></div>
                    <div class="fi-social-linkedin icon_about"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}