{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-4">
            <div class="well">
                <img src="{{ asset('img/avatar/guigur_avatar_2016.png') }}" class="img-responsive center-block img-circle">
                <h3 class="text-center">guigur</h3>

                <ul class="about_ul">
                    <li class="about_li">
                        <a href="https://www.twitter.com/guigur" title="twitter c'est bien" target="_blank" class="icon_twitter">
                            <div class="fi-social-twitter"></div>
                        </a>
                    </li>
                    <li class="about_li">
                        <a href="https://github.com/guigur" title="github" target="_blank" class="icon_github">
                            <div class="fi-social-github"></div>
                        </a>
                    </li>
                    <li class="about_li">
                        <a href="https://steamcommunity.com/id/guigur" title="steam" target="_blank" class="icon_steam">
                            <div class="fi-social-steam"></div>
                        </a>
                    </li>
                    <li class="about_li">
                        <a href="https://www.youtube.com/user/MrGuigur" title="youtube" target="_blank" class="icon_youtube">
                            <div class="fi-social-youtube"></div>
                        </a>
                    </li>
                    <li class="about_li">
                        <a href="https://www.linkedin.com/in/guillaume-arthaud-837637137/" title="linkedin" target="_blank" class="icon_linkedin">
                            <div class="fi-social-linkedin"></div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock body %}