{% extends "base.html.twig" %}
{% block body %}
    <div class="col-md-12">
        {% include 'Page_header_display.html.twig' %}
        {% for Archive in Archives %}
        {% endfor %}
        <p>Quelques liens du passé</p>
        <a href="http://v1.guigur.com" target="_blank">v1.guigur.com</a> Toute première version du site ! Attention ça pique.<br />
        <a href="http:///v2.guigur.com" target="_blank">v2.guigur.com</a> Seconde version du site avec quelques articles encore là et quelques liens un peu cachés.<br />
        <a href="https://myfriends2.guigur.com" target="_blank">myfriends2</a> Backup du site presque entièrement fonctionnelle :)<br />
        <a href="https://jeej.guigur.com" target="_blank">Jeej.guigur.com</a> Anciennement Jeej.fr . Un site "générateur" de YTP<br />
        <a href="http://gameoflife.guigur.com/" target="_blank">gameoflife.guigur.com</a> Un gameOfLife en 3D un peu cassé<br />
    </div>
{% endblock %}
