{% extends "base.html.twig" %}
{% block body %}
    <div class="col-md-12">
        <h1 class="page-header">
            Archives <br />
            <small>{{ Catchphrase.phrase }}</small>
        </h1>
        {% for Archive in Archives %}
        {% endfor %}
        <p>Quelques liens du passé</p>

        <a href="//v1.guigur.com" target="_blank">v1.guigur.com</a> Toute première version du site ! Attention ça pique<br />
        <a href="//v2.guigur.com" target="_blank">v2.guigur.com</a> Seconde version du site avec quelques articles encore la et quelques liens un peu planqué<br />
        <a href="//myfriends2.guigur.com" target="_blank">myfriends2</a> Backup du site presque entièrement fonctionnelle :)

    </div>
{% endblock %}
