{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-12">
            {% include 'Page_header_display.html.twig' %}
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <img src="{{ asset('img/guigur_.com_green.png') }}" class="img-fluid chess_pattern_light rounded border border_guigur_primary" width="">
                </div>
                <div class="col-md-4">
                    <img src="{{ asset('img/guigur_.com_green.png') }}" class="img-fluid chess_pattern_dark rounded border border_guigur_primary" width="">
                </div>
                <div class="col-md-4">
                    <img src="{{ asset('img/guigur_.com_light.png') }}" class="img-fluid chess_pattern_dark rounded border border_guigur_primary" width="">
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <div class="branding-color-display border">
                        <div class="branding-color-text-container">
                            <span class="branding-color-display-title">Salem</span>
                            <span class="branding-color-display-hex">Salem</span>

                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                </div>
                <div class="col-md-2">
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock body %}