{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-12">

            <h3 class="page-header">
                Contact<br />
                <small>{{ catchphrase.phrase }}</small>
            </h3>
            <div class="well">
                <div class="form-group">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
            <hr>
        </div>
    </div>
    <!-- /.row -->
{% endblock body %}