{% extends "base.html.twig" %}
{% block body %}
    <div class="col-md-12">
        {% include 'Page_header_display.html.twig' %}


        <div class="card" style="">
            <!--<img src="{{ asset('img/guigur_hosting_service_header.png') }}" class="card-img-top" alt="guigur hosting service header">-->
            <div class="g-card-img">
                <img class="card-img-top img-fluid" src="//placehold.it/760x270" alt="Card image cap">
            </div>
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
{% endblock %}
