{% extends "base.html.twig" %}
{% block body %}
    <div class="col-md-12 g-push-down">
        Bienvenue sur Guigur<small>.com</small>
        Ce site recueil mes différents projets ainsi que des trucs un peu inclassables.
        Toute information présente sur ce site est libre et est accesible a tou·te·s et est opensource sous licence Creative Commons   <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
    </div>
    <div class="col-md-9">
            <h1 class="page-header">
                Quelques projets <br />
            </h1>
        <div class="row">
            {% for Project in Projects %}
                    <div class="col-md-6">
                        {% include 'Projects_display.html.twig' %}
                    </div>
                    <div class="col-md-offset-1"></div>
                {% endfor %}
        </div>
        <div class="row">
            <h2>
                <a href="{{ path('Projects') }}">Voir tous les projets ({{ ProjectsNumbers }})</a>
            </h2>
        </div>
    </div>
    <div class="col-md-3">
        <a class="twitter-timeline" data-height="400" data-theme="light" href="https://twitter.com/guigur_com?ref_src=twsrc%5Etfw">Tweets by guigur_com</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>    </div>
{% endblock %}
