{% extends "base.html.twig" %}
{% block body %}
    <div class="col-md-12 g-push-down">
        Bienvenue sur Guigur<small>.com</small>
        Ce site recueil mes différents projets ainsi que des trucs un peu inclassables.
        Toute information présente sur ce site est libre et est accesible a tou·te·s et est opensource sous licence Creative Commons   <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
    </div>
    <div class="col-md-12">

        <h1 class="page-header">
            Quelques projets <br />
        </h1>
        {% include 'Projects_display.html.twig' %}

    </div>
    <div class="col-md-12">
        <h2>
            <a href="{{ path('Projects') }}">Voir tous les projets ({{ Projects|length }})</a>
        </h2>
    </div>
{% endblock %}
