{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Guigur's links Shortener</h3>
                    <small>Pratique pour les QR Codes</small>
                        {{ dump(LinksUser) }}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}