{% extends "base.html.twig" %}
{% block body %}
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Remarque:</strong> cette page n'est pas encore fonctionnelle fesses.
    </div>
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">Page Heading
                <small>Secondary Text</small>
            </h1>
            <div>

            </div>

        </div>

        <!-- Sidebar Widgets Column -->

    </div>
    <!-- /.row -->
{% endblock body %}