{% extends "base.html.twig" %}
{% block body %}
    <div class="col-md-12">

        <h1 class="page-header">
            Projets <br />
            <small>{{ Catchphrase.phrase }}</small>
        </h1>
        {% include 'Projects_display.html.twig' %}

        {% for Category in Categories %}
            <h3><a href="#" class="label {% if Category.color != '' %}{{ Category.color }}{% else %}label-default{% endif %}"><span class="fa {{ Category.icon }}"></span>&nbsp{{ Category.name }}</a></h3>

        {% endfor %}
    </div>
{% endblock %}
