{% extends "base.html.twig" %}
{% block body %}
    <div class="col-md-12">
        {% include 'Page_header_display.html.twig' %}
        <div class="row">
            {% for Project in Projects %}
                <div class="col-md-4">
                    {% include 'Projects_display.html.twig' %}
                </div>
            {% endfor %}
        </div>

        <div class="row">
        {% for Category in Categories %}
                <button type="button" class="btn {% if Category.color != '' %}btn-{{ Category.color }}{% else %}btn-dark{% endif %}">
                    <span class="{{ Category.icon }}"></span>&nbsp{{ Category.name }}
                </button>
            {% endfor %}
        </div>

    </div>
{% endblock %}
