{% extends "base.html.twig" %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Boutique<br />
                <small>{{ catchphrase.phrase }}</small>
            </h1>
            Une boutique ? quel boutique ?
            <hr>
        </div>
    </div>
    <!-- /.row -->
{% endblock body %}