{% extends "base.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Contact<br />
                <small>{{ catchphrase.phrase }}</small>
            </h1>
            <hr>
            <video>

            </video>
        </div>
    </div>
    <!-- /.row -->
{% endblock body %}