html {
    min-height: 100%;
    position: relative;
}

body {
    padding: 0;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 60px;
}

.bg-darker
{
    background-color: #222;
}
.project
{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-card {
    position: relative;
    height: 150px;
    width: 300px;
    float: left;
    text-align: center;
    font-family: inherit;
    color: white;
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
}

.card__front,
.card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}


.card__front {
    font-size: 40px;
}

.card__front_icons {
    float: right;
    font-size: 0.65em;
    padding-top: 0.25em;
    padding-right: 0.25em;
}

.card__back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    font-size: 24px;
    display: table;

}

.card__back p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.project-card.effect__hover:hover .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.project-card.effect__hover:hover .card__back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.icon_twitter:hover
{
    color: #1DA1F2;
}

.icon_github:hover
{
    color: #333;
}

.icon_steam:hover
{
    color: #1b2838;
}

.icon_youtube:hover
{
    color: #ff0000;
}
.icon_linkedin:hover
{
    color: #0077B5;
}

.contactTextarea
{
    resize: vertical;
}

.project_miniature
{
    height: 250px;
    width: 100%;
    display: block;
}

.project_miniature_img
{
    height: 250px;
    width: 100%;
    overflow: hidden;
    object-fit: cover;

}

/* About stuff */

.about_avatar
{
    width: 50%;
    margin-top: 10%;
}

.about_ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.about_li
{
    display: inline-block;
}

.about_li a
{
    display: block;
    padding: 8px;
    color: #424242;
    transition: color 0.23s ease;
    font-size: 2em;
}


/* Changelog stuff */

.changelog_card {
    transition: 0.3s;
    margin: 1.5em;

}

.changelog_card:hover {
    background: lightgray;

}

.changelog_card-body {
    padding:8px;
}

.changelog {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
}

.changelog_added
{
    background: lightgreen;
}

.changelog_removed
{
    background: indianred;
}

.changelog_modified
{
    background: orange;
}

.changelog_datetime
{
    float: right;
}

/* footer stuff */

.footer {
    display: inline-block;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

.footer-blocks
{
    height: 60px;
}

.footer-icons-cc-wrapper
{
    vertical-align: -0.5em;

}

.footer-link
{
    color: rgba(255,255,255,.5);
}

.footer-link:hover
{
    color: #fff;
    text-decoration: none;
}

.footer-icons-cc
{
    font-size: 2em;
}

/* Admin stuff */

.admin_card_container {

    padding-top: 0.5em;
    padding-right: 0.5em;
}

/* Switch stuff */

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 4em;
    height: 2em;
}

.switch-sm {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 1em;
}
/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* code viewer */
pre, code {
    font-family: monospace, monospace;
}
pre {
    overflow: auto;
}
pre > code {
    display: block;
    padding: 1rem;
    word-wrap: normal;
}

/* square button */

.btn-squared-default
{
    width: 100px !important;
    height: 100px !important;
    font-size: 10px;
}

.btn-squared-default:hover
{
    border: 3px solid white;
    font-weight: 800;
}

.btn-squared-default-plain
{
    width: 100px !important;
    height: 100px !important;
    font-size: 10px;
}

.btn-squared-default-plain:hover
{
    border: 0px solid white;
}

.img-avatar
{
    border:3px solid #444444;
    max-width:100%;
    height:auto;
}

/* login stuff */

.login_form_container
{
    min-height: 80%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 80vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

.login_logo_container
{
    margin-right: 20%;
    margin-left: 20%;
    padding-bottom: 2em;
}

#passwdEye {
    cursor: pointer;
    pointer-events: all;
}

/* profile stuff */

.img-profile
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;
}
