html {
    height: 100%;
}

.project
{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    position: relative;
    height: 150px;
    width: 300px;
    float: left;
    text-align: center;
    font-family: inherit;
    color: white;
}

.card__front,
.card__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 150px;
}

.card__front,
.card__back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}


.card__front {
    font-size: 40px;
}

.card__back {
   /* background-color: #1e1e1e; */

    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    font-size: 24px;
}

.card.effect__hover:hover .card__front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.icons_center {
    text-align:center;
    display: inline-block;
    width: 100%;
}

.icon_about {
    display: inline-block;
    font-size: 42px;
    text-align: center;
    text-decoration: none;
    color: red;

}

.icon_twitter
{

}

.contactTextarea
{
    resize: vertical;
}

.project_miniature
{
    height: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
