.cv-separator
{
    height: 0.4em;
    width: 100%;
    background: #1b8e51!important;
    -webkit-print-color-adjust: exact;
    display: block;
}

.cv-text
{
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.5em;
    display: block;
}
.cv-link-qrcode
{
    font-size: 1em;
    font-style: italic;
    text-align: center;
    display: block;

}

.cv-qrcode-container
{
    margin-top: 16px;
    text-align: center;
    display: block;
}

.cv-titres
{
    font-size: 2em;
}

.cv-section-text
{
    font-size: 1.3em;
}

.cv-dates
{
    font-weight: bold;
}
