{% extends "base.html.twig" %}
{% block body %}
    <script src="{{ asset('js/Chart.min.js') }}"></script>
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="admin_card_container">
                    <canvas height="100" id="login_chart_year"></canvas>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Connexions les 360 derniers jours</h5>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script>
        new Chart($("#login_chart_year"), {
            type: 'line',
            data: {
                labels: [{% for loginDay in loginDays %}"{{ loginDay.date }}",{% endfor %}],
                datasets: [{
                    label: false,
                    data: [{% for loginDay in loginDays %}"{{ loginDay.login }}",{% endfor %}],
                    backgroundColor: ['rgba(76, 175, 80, 0.2)'],
                    borderColor: ['rgba(56, 142, 60, 1)'],
                    borderWidth: 1
                }]
            },
            options: {
                legend: {
                    display: false
                }
            }
        });
    </script>
{% endblock %}