{% extends "base.html.twig" %}
{% block body %}
   <iframe width="800" height="550" src="https://falstad.com/circuit/circuitjs.html?startCircuit=lrc.txt"></iframe>
   {% for Project in Projects %}
      <div class="row">
         {% include 'Project_admin_setting_row.html.twig' %}
      </div>
   {% endfor %}
   <script>
      function init() {
         console.log("ready");
         $('.l-btn-toggle').click(function () {
            var button = $(this);
            var div = button.parent().parent();
            div.addClass('blurdiv');
            //div.html('<div class="row"><span class="spinner-border spinner-border-sm ggr-spinner-btn" role="status" aria-hidden="true"></span></div>');
            var id = button.data('project-id');
            $.ajax({
               type: "POST",
               url: "{{ path('admin_ajax_project_state_toggle') }}",
               data: {id: id},
               success: function (result) {
                  div.removeClass('blurdiv');
                  div.html(result).delay(1000);

                  init();
               },
               error: function () {
                  div.html('<span class="fa fa-exclamation-triangle"></span>');
                  //div.removeClass('btn-success').addClass('btn-danger');
               }
            });
         });
      }

      $(document).ready(function(){
         init();
      });
   </script>
{% endblock %}