{% extends "base.html.twig" %}
{% block body %}
   ici c les projets
   {{ dump(Projects) }}
   <div class="row">
      {% for Project in Projects %}
         <div class="col-md-6">
            {% include 'Projects_display.html.twig' %}
         </div>
         <div class="col-md-offset-1"></div>
      {% endfor %}
   </div>
{% endblock %}